/* You can add global styles to this file, and also import other style files */
h1 {
    text-align: center;
}
#board td {
    font-size: 65px;
    width: 100px;
    height: 100px;
}
#scoreBoard td {
    font-size: 20px;
    width: 100px;
    height: 30px;
}
table {
    margin: 5px auto;
}
div {
    text-align: center;
}
.vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.clear {
    height: 25px;
}
#scoreTable {
    text-align: center;
    width: 250px;
    height: 40px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px auto;
}
