<div>
    <div *ngIf="!isGameFinished()">
        <button (click)="createNewGame()" class="btn btn-dark" type="button">NEW GAME</button>
    </div>
    <div class="clear"></div>
    <div *ngIf="actualPlayer">Actual player is {{ actualPlayer }}</div>
    <div *ngIf="winner">The winner is {{ winner }}</div>
    <div *ngIf="isTie">The game is TIE</div>
    <div *ngIf="actualPlayer || winner || isTie" class="clear"></div>
    <div>
        <table id="board">
            <tr>
                <td (click)="createMove(cellType.TOP_LEFT)">{{ topLeftCellValue }}</td>
                <td (click)="createMove(cellType.TOP_CENTER)" class="vert">{{ topCenterCellValue }}</td>
                <td (click)="createMove(cellType.TOP_RIGHT)">{{ topRightCellValue }}</td>
            </tr>
            <tr>
                <td (click)="createMove(cellType.MIDDLE_LEFT)" class="hori">{{ middleLeftCellValue }}</td>
                <td (click)="createMove(cellType.MIDDLE_CENTER)" class="vert hori">{{ middleCenterCellValue }}</td>
                <td (click)="createMove(cellType.MIDDLE_RIGHT)" class="hori">{{ middleRightCellValue }}</td>
            </tr>
            <tr>
                <td (click)="createMove(cellType.BOTTOM_LEFT)">{{ bottomLeftCellValue }}</td>
                <td (click)="createMove(cellType.BOTTOM_CENTER)" class="vert">{{ bottomCenterCellValue }}</td>
                <td (click)="createMove(cellType.BOTTOM_RIGHT)">{{ bottomRightCellValue }}</td>
            </tr>
        </table>
    </div>
    <div class="clear"></div>
    <table id="scoreBoard">
        <tr>
            <td>Player 1</td>
            <td>Tie</td>
            <td>Player 2</td>
        </tr>
        <tr>
            <td class="score">{{ playerXScore }}</td>
            <td class="score">{{ tieScore }}</td>
            <td class="score">{{ playerOScore }}</td>
        </tr>
    </table>
</div>

